{% set pipName = resolve_bicep_resource(azcontext.PublicIPName) %}
{% set azfwName = resolve_bicep_resource(azcontext.Name) %}
{% set vnetName = resolve_bicep_resource(azcontext.VNetName) %}

resource {{ pipName }} 'Microsoft.Network/publicIPAddresses@2020-06-01' = {
  name: '{{ azcontext.PublicIPName }}'
  location: location
  properties: {
    publicIPAddressVersion: 'IPv4'
    publicIPAllocationMethod: 'Static'
  }
  sku: {
    name: 'Standard'
  }
}

resource {{ azfwName }} 'Microsoft.Network/azureFirewalls@2020-06-01' = {
  name: '{{ azcontext.Name }}'
  location: location
  zones: [
  '1'
  '2'
  '3'
  ]
  properties: {
    ipConfigurations: [
      {
        name: '{{ azcontext.Name + '-fwl-ipconf' }}'
        properties: {
          subnet: {
            id: '{%raw%}${{%endraw%}{{vnetName + '.id'}}{%raw%}}{%endraw%}/subnets/AzureFirewallSubnet'
          }
          publicIPAddress: {
            id: {{ pipName + '.id' }}
          }
        }
      }
    ]
    sku: {
      tier: 'Standard'
    }
  }
}

output {{ azfwName + 'PrivateIp' }} string = {{ azfwName }}.properties.ipConfigurations[0].properties.privateIPAddress