
{% set localVNetName = resolve_bicep_resource(azcontext.LocalVNetName) %}
{% set remoteVNetName = resolve_bicep_resource(azcontext.RemoteVNetName) %}
{% set localRscName = localVNetName + remoteVNetName %}
{% set remoteRscName = remoteVNetName + localVNetName %}

resource {{ localRscName }} 'Microsoft.Network/virtualNetworks/virtualNetworkPeerings@2021-05-01' = {
  name: '{{ remoteVNetName + '/' + remoteVNetName + '-' + localVNetName }}'
  dependsOn: [
    {{ localVNetName }}
    {{ remoteVNetName }}
  ]
  properties: {
    allowForwardedTraffic: false
    allowGatewayTransit: false
    allowVirtualNetworkAccess: true
    useRemoteGateways: false
    remoteVirtualNetwork: {
      id: {{ localRscName + ".id" }}
    }
  }
}

resource {{ remoteRscName }} 'Microsoft.Network/virtualNetworks/virtualNetworkPeerings@2021-05-01' = {
  name: '{{ localVNetName + '/' + localVNetName + '-' + remoteRscName }}'
  dependsOn: [
    {{ localVNetName }}
    {{ remoteVNetName }}
  ]
  properties: {
    allowForwardedTraffic: false
    allowGatewayTransit: false
    allowVirtualNetworkAccess: true
    useRemoteGateways: false
    remoteVirtualNetwork: {
      id: {{ remoteRscName + ".id" }}
    }
  }
}