html, body, #root, .container, #root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

inline {
  display: inline;
}

.tile-panel {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 40px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.azure-rsc-icon {
  width: 30px;
  height: 30px;
}
.tile-text {
  font-size: small;
  font-family: 'Segoe UI';
  display: block;
  font-size: smaller;
}

.collapse-header {
  display: -ms-flexbox;
  border-bottom: solid;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  line-height: 22px;
  padding: 2px 2px;
  color: #666;
  cursor: pointer;
  margin: 0px;
}



.workspace-overlay-box {
  background-color: #fff;
  border: 1px solid #000;
  text-align:center;
  height: 750px;/*height needs to be set*/
  width: 900px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  }
.provision-overlay-box {
  background-color: #fff;
  border: 1px solid #000;
  text-align:center;
  height: 370px;/*height needs to be set*/
  width: 430px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.saveto-workspace-overlay-box {
    background-color: #fff;
    border: 1px solid #000;
    text-align:center;
    height: 250px;/*height needs to be set*/
    width: 450px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
  .workspace-deletediagramdialog-overlay-box {
    background-color: #fff;
    border: 1px solid #000;
    text-align:center;
    height: 100px;/*height needs to be set*/
    width: 350px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .workspace-overlay-about {
    background-color: #fff;
    border: 1px solid #000;
    text-align:center;
    height: 300px;/*height needs to be set*/
    width: 600px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }

  .overlay-preview {
    background-color: #fff;
    height: 700px;/*height needs to be set*/
    width: 800px;
    margin: auto;
    position: fixed;
    padding: 5px;
    overflow: auto;
  }


/* mxGraph css overrides */
/* popupMenuHandler */
div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 6px #C0C0C0;
  -moz-box-shadow: 3px 3px 6px #C0C0C0;
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 3px;
}
div.mxCellEditor {

  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 3px;
}
div.mxRubberband {
  background: grey;
  position: absolute;
  border: 1px solid #e7e7e7;
  padding: 1px;
}
/*vnet & subnet corner radius/roundness */
/* rect  {
  rx: 11px;
  ry: 11px;
} */
/*mxGraph Overrides end*/

/*workbench layout: header, diagramEditor and resourcepalette*/
.workbenchgrid-container{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.sidebar {
  /* flex: 1; */
  min-height: 50px;
  position: relative;
  flex-grow: 0;
  width: 310px;
}
.resourcePalette {
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.diagramEditor{
  /* !important */
  overflow:hidden;
  position:relative;
  width:100%;
  height:100%;
  background-color: #fff;
}

.stylePropPanel {
  background-color: #FFF8E5;
  text-align: center;
  padding: 30px;
  overflow: auto;
}
.propPanelDrawer {
  background-color: #d1d3d4;
  padding: 10px;
  width: 100%;
}
.propPanelGrid {
  background-color: white;
  height: 100%;
  padding: 20px;
}
.propPanelTabContent {
  background-color: white;
  height: 100%;
  padding-top: 30px;
}

.formLayout {
  display: block;
  padding:4px 2px;
  width:100%;
  margin:2px 0 20px 10px;
}

/*blueprintjs button style override*/
.buttonStretch {
  width: 100%;
  flex-grow: 1;
  margin-top: 3px;
}

/* centers circular progress */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: white;
}