html, body, #root, .container, #root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

inline {
  display: inline;
}

.tile-panel {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 40px;
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.azure-rsc-icon {
  width: 30px;
  height: 30px;
}
.tile-text {
  font-size: small;
  font-family: 'Segoe UI';
  display: block;
  font-size: smaller;
}

.collapse-header {
  display: -ms-flexbox;
  border-bottom: solid;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  line-height: 22px;
  padding: 2px 2px;
  color: #666;
  cursor: pointer;
  margin: 0px;
}

.workspace-overlay-box {
  background-color: #fff;
  border: 1px solid #000;
  text-align:center;
  height: 700px;/*height needs to be set*/
  width: 900px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  }
.saveto-workspace-overlay-box {
    background-color: #fff;
    border: 1px solid #000;
    text-align:center;
    height: 200px;/*height needs to be set*/
    width: 400px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }


/*required for popupMenuHandler*/
div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 6px #C0C0C0;
  -moz-box-shadow: 3px 3px 6px #C0C0C0;
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 3px;
}
div.mxCellEditor {

  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 3px;
}
div.mxRubberband {
  background: grey;
  position: absolute;
  border: 1px solid #e7e7e7;
  padding: 1px;
}
/*vnet & subnet radius*/
rect  {
  rx: 11px;
  ry: 11px;
}