resource {{ resolve_bicep_resource(zcontext.Name) }} 'Microsoft.Network/publicIPAddresses@2020-06-01' = {
  name: {{ azcontext.Name }}
  location: location
  sku: {
    name: 'Standard'
  }
  properties: {
    publicIPAllocationMethod: 'Static'
  },
  {% if diagramContext.globalContext.tags|length > 0 %}
  tags: {
    {% for tag in diagramContext.globalContext.tags %}
    {{tag.key}}: '{{tag.value}}'
    {% endfor %}
  }
  {% endif %}
}