

resource stg 'Microsoft.Storage/storageAccounts@2019-06-01' = {
  name: {{ azcontext.Name }}
  location: location
  kind: 'StorageV2'
  sku: {
    name: {{ azcontext.SkuName }}
  }
  {% if diagramContext.globalContext.tags|length > 0 %}
  tags: {
    {% for tag in diagramContext.globalContext.tags %}
    {{tag.key}}: '{{tag.value}}'
    {% endfor %}
  }
  {% endif %}
}